@font-face {
  font-family: 'SegaLogo';
  src: url("/fonts/sega_logo_font.otf");
}

@font-face {
  font-family: 'Titillium_Web';
  src: url("/fonts/Titillium_Web.ttf");
}

.main-element:hover, .element:hover {
  cursor: pointer;
  font-weight: bold;
}



.main-element {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-left: 3px solid black;
}

.element {
  font-family: monospace;
  margin-left: 2%;
  padding: 9px;
}

.element::before{
  width: 6px;
  content: "";
  left: -4%;
  top: 16px;
  height: 2px;
  /* background: black; */
  border-bottom: 1px solid black;
  position: absolute;
}

.info-block{
  font-family: "Titillium_Web";
  background: black;
  color: green;
  /* display: none; */
  visibility: hidden;
  position: absolute;
  width: 300px;
  height: auto;
  padding: 20px;
  transition: top 0.3s cubic-bezier(.49,.39,.56,.61);
  white-space: pre-wrap;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

body:hover .info-block{
  visibility: visible;
}
